VITE_USE_MOCK_AUTH=true
VITE_USE_MOCK_PROJECTS=true
VITE_API_BASE_URL=https://localhost:5001
VITE_PROJECTS_ENDPOINT=/api/projects
VITE_MUSIC_PLAYER_URL=https://www.youtube.com/watch?v=stVlz3nKUtc&list=RDstVlz3nKUtc
