VITE_USE_MOCK_AUTH=true
VITE_USE_MOCK_PROJECTS=true
VITE_USE_MOCK_SKILLS=true
VITE_USE_MOCK_USER_LANGUAGES=true
VITE_USE_MOCK_USER_CONTACT=true
VITE_USE_MOCK_USER_CONFIG=true
VITE_USE_MOCK_USER_FILES=true
VITE_API_BASE_URL=https://localhost:5001
VITE_PROJECTS_ENDPOINT=/api/projects
VITE_SKILLS_ENDPOINT=/api/skills
VITE_USER_LANGUAGES_ENDPOINT=/api/userlanguages
VITE_USER_CONTACT_ENDPOINT=/api/usercontact
VITE_USER_CONFIG_ENDPOINT=/api/userconfig
VITE_USER_FILES_ENDPOINT=/api/userfiles
VITE_MUSIC_PLAYER_URL=https://www.youtube.com/watch?v=stVlz3nKUtc&list=RDstVlz3nKUtc
